body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.image-gallery {
    width: 80%;
    margin: 0 auto;
}

.slider {
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 200%; /* Full-width for mobile */
    padding: 0 10px;
    position: relative;
    overflow: hidden; /* Hide overflow for zoom effect */
}

img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease; /* Add smooth transition for zoom effect */
}

.slide:hover img {
    transform: scale(1.1); /* Zoom in on hover */
    cursor: pointer;
}

.prev-btn, .next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:black;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    margin-bottom: 50px;
    
}


.prev-btn::before {
    margin-right: 10px; /* Space between the button and arrow */
}

.next-btn::before {
    margin-left: 10px; /* Space between the button and arrow */
}

.prev-btn:hover::before,
.next-btn:hover::before {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .slide {
        flex: 0 0 33.33%; /* 3 images per row for tablets and larger screens */

    }
    
}

@media (min-width: 768px) {
    .slide {
        flex: 0 0 33.33%; /* 3 images per row for tablets and larger screens */
    }
}

/* Styles for screens with a width less than 768px */
@media (max-width: 767px) {
    .slide {
        flex: 0 0 100%; /* 1 image per row for smaller screens, takes up full width */
    }
}

