html {
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    .single-slider {
        /* Reset the display style to stack content vertically */
        /* display: block; */
        display: flex;
    }

    .hero__caption {
        /* Adjust text alignment for better centering */
        text-align: left;
        position: relative;
        right: 40%;

    }
}

.ul-heading {
    font-size: 22px;
    color: white;
    background-color: red;
    /* width: 100%; */
    margin-bottom: 5px;
}


.ul-heading2 {
    font-size: 22px;
    color: white;
    background-color: red;
}

.address-logo span {
    margin-right: 10px;
}
.gallary {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    line-height: 1.2;
    margin-top: 0px;
    font-style: normal;
    font-size: 58px;
    -webkit-text-stroke: 1px #f6f7f8;
    font-family: Oswald, sans-serif;
}

div.gallery {
border: 1px solid #ccc;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}

* {
box-sizing: border-box;
}

.responsive {
padding: 0 6px;
float: left;
width: 24.99999%;
}

@media only screen and (max-width: 700px) {
.responsive {
width: 49.99999%;
margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {
.responsive {
width: 100%;
}
}

.clearfix:after {
content: "";
display: table;
clear: both;
}

/* @media screen and (min-width: 700px){
.section-tittle2 h2 {
    display: block;
}
}

@media screen and (max-width: 700px){
.section-tittle2 h2 {
    display: none;
}
} */

/* The Modal (background) */
.modal {
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: black;
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
width: 90%;
max-width: 1200px;
}

/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}

.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}


.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}

img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.follow{
    display: block;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px)  {
    .follow{
        display: none;
    } 
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .follow{
        display: none;
    } 
}